{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
<h1>Home Management</h1>
<h4>Bills</h4>

<div class="widget no-float">
    <form method='post' action="/bills">
        {% if update %}
            <input type="hidden" name="update_id" value="{{update.id}}" />
        {% endif %}
        <div class="row g-3">
            <div class="col-md">
                <div class="form-floating">
                    <input class="form-control" name="bill-name" id="billName"
                    {% if update %}
                    value="{{update.name}}"
                    {% else %}
                    value=""
                    {% endif %}
                    >
                    <label for="billName">Bill</label>
                </div>
            </div>
            <div class="col-md">
                    <div class="form-floating">
                        <input class="form-control" name="paid-by" id="billPaidBy"
                        {% if update %}
                        value="{{update.paid_by}}"
                        {% else %}
                        value=""
                        {% endif %}
                        >
                        <label for="billPaidBy">Paid By</label>
                    </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input class="form-control" name="bill-due" id="billDueDate"
                    {% if update %}
                    value="{{update.due_date}}"
                    {% else %}
                    value=""
                    {% endif %}
                    >
                    <label for="billDueDate">Due Date</label>
                </div>
            </div>
        </div>

        <div class="row g-3" style="margin-top: -8px;">
            <div class="col-md">
                <div class="form-floating">
                    <input class="form-control" name="bill-amount" id="billAmount"
                    {% if update %}
                    value="{{update.amount}}"
                    {% else %}
                    value=""
                    {% endif %}
                    >
                    <label for="billAmount">Amount</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input class="form-control" name="bill-paid-date" id="billDatePaid"
                    {% if update %}
                    value="{{update.paid_date}}"
                    {% else %}
                    value=""
                    {% endif %}
                    >
                    <label for="billDatePaid">Date Paid</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="bill-paid" class="form-select" id="paidSelect" aria-label="Floating label select example">
                        {% if not update %}<option></option>{% endif %}
                        <option value="0" {{ "selected='selected'" if update.paid else "" }}>No</option>
                        <option value="1" {{ "selected='selected'" if update.paid else "" }}>Yes</option>
                    </select>
                    <label for="paidSelect">Paid</label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-top: 6px;">Submit</button>
        <button type="reset" class="btn btn-primary" style="margin-top: 6px;">Reset</button>
    </form>
</div>

{% if bills %}
<div class="widget" style="width: 100%;">
<table class='table table-striped' id="bill-list">
    <thead>
        <tr>
            <th>Bill</th>
            <th>Paid By</th>
            <th>Due</th>
            <th>Amount</th>
            <th>Past Due</th>
            <th>Paid</th>
            <th>Paid Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for bill in bills %}
        <tr>
            <td>{{bill.name}}</td>
            <td>{{bill.paid_by}}</td>
            <td>{{bill.due_date}}</td>
            <td>{{bill.amount}}</td>
            <td>{{bill.past_due}}</td>
            <td>{% if bill.paid == 1 %}YES{% else %}NO{% endif %}</td>
            <td>{{bill.paid_date}}</td>
            <td>

                <!-- Delete -->
                <a href='/bills/delete/{{bill.id}}' title="delete {{bill.bill_name}}" class="confirmation"><i
                        class="fa-solid fa-trash-can" title='Delete {{bill.bill_name}}'></i></a>

                <!-- Update -->
                <a href='/bills?update={{bill.id}}' title="update {{bill.bill_name}}"><i class="fa-solid fa-gear"
                        title='Update {{bill.bill_name}}'></i></a>

                {% if bill.paid == 0 %}
                <!-- Mark as paid -->
                <a href='/bills/paid/{{bill.id}}' title="mark {{bill.bill_name}} as paid" class="confirmation"><i
                        class="fa-solid fa-check" title='Mark {{bill.bill_name}} as paid'></i></a>
                {%else%}
                <!-- Mark as unpaid -->
                <a href='/bills/unpaid/{{bill.id}}' title="mark {{bill.bill_name}} as unpaid" class="confirmation"><i
                        class="fa-solid fa-xmark" title='Mark {{bill.bill_name}} as unpaid'></i></a>
                {% endif %}

                <!-- Info -->
                <a href='/bills/info/{{bill.name}}' title="into {{bill.bill_name}}"><i class="fa-solid fa-info"
                        title='View information and history on {{bill.bill_name}}'></i></a>

            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
</div>

<div class="widget" id="upcoming-bills-widget">
    <table class="table table-striped" id="upcoming-bills">
        <thead>
            <th>Paid By</th>
            <th>Due</th>
            <th>Total</th>
        </thead>
        <tbody>
            {% for date in upcoming_bills %}
                {% for key in upcoming_bills[date] %}
                    {% for entry in upcoming_bills[date][key] %}
                    <tr>
                        <td>{{entry}}</td>
                        <td>{{key}}</td>
                        <td>{{upcoming_bills[date][key][entry]}}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
{% block footer %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#bill-name").focus();
        $('#bill-list').DataTable({ "dom": '<"pull-left"f><"pull-right"l>tip', "pageLength": 10, "order": [[5, "asc"], [2, "asc"]] });
        $('#upcoming-bills').DataTable({ "dom": '<"pull-left"f><"pull-right"l>tip', "pageLength": 5, "order": [[1, "asc"]] });
        $('.confirmation').on('click', function () {
            var title = $(this).attr('title')
            return confirm('Are you sure you want to ' + title + '?');
        });
    });
</script>
{% endblock %}